################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Microsoft.Bot.Sample.SimpleEchoBot/v15/Server/sqlite3
